.metta {
  position: relative;
  height: 685px;
  background-image: url("../image/metta/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.metta-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 85px;
  padding-bottom: 40px;
}
.metta__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.metta__content-title {
  margin-bottom: 38px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.metta__content-link {
  padding: 11px 48px;
  text-transform: uppercase;
  background-color: #193ee9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.metta__bottom-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -137px;
  margin: auto;
}